allow iorap_inode2filename bluetooth_logs_data_file:dir read;
#allow iorap_inode2filename credstore_data_file:dir read;
allow iorap_inode2filename gatekeeper_data_file:dir read;
#allow iorap_inode2filename keystore_data_file:dir read;
allow iorap_inode2filename media_rw_data_file:dir read;
allow iorap_inode2filename seapp_contexts_file:file getattr;
